<!DOCTYPE html>
<html>
<head>
    <title>Moja Strona Główna</title>
</head>
<body>
    <h1>Strona Główna</h1>
    
    <h2>Menu</h2>
    <ul>
        <li><a href="/extract">Ekstrakcja opinii</a></li>
        <li><a href="/products">Lista produktów</a></li>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/author">O autorze</a></li>
    </ul>
    
    <h2>Opis projektu</h2>
    <p>
        Celem tej aplikacji jest pobieranie z serwisu Ceneo.pl opinii o produktach na podstawie indywidualnych kodów oraz do wyświetlania pobranych opinii i podstawowych statystyk o nich.
    </p>
    <p>
        Aplikacja wykorzystuje podejście web scrapingu do pobierania danych z serwisu internetowego i dynamicznie generuje interfejs użytkownika, umożliwiając wyświetlanie szczegółowych informacji o produktach i analizę opinii za pomocą wykresów.
    </p>
    <p>
        W projekcie wykorzystano następujące biblioteki:
        <ul>
            <li>Biblioteka BeautifulSoup</li>
            <li>Biblioteka Requests</li>
            <li>Biblioteka Pandas</li>
            <li>Biblioteak Chart.js</li>
        </ul>
    </p>
    <p>
        Zastosowane podejścia w projekcie to:
    <p>
        Web scraping, do pobierania danych z serwisu ceneo.pl wykorzystano bibliotekę beautifulsoup.
    </p>
    <p>
        Aplikacja umożliwia zapis pobranych danych w formatach json,xlsx i csv.
    </p>
    <p>
        Generowanie wykresów dzięki bibliotece Chart.js
    </p>
    <p>
        Aplikacja została zorganizowana zgodnie z architekturą MVC.Liczy liczby zalet,wad i średnią ocenę.
    </p>
</body>
</html>
